<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings>
		<add name="Data_Bed_ComplementConnectionString" connectionString="Data Source=7a2blsrvinf0002;Initial Catalog=Data_Bed_Complement;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
		<add name="Data_Reference_TablesConnectionString" connectionString="Data Source=7a2blsrvinf0002;Initial Catalog=Data_Reference_Tables;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Published_IRISConnectionString" connectionString="Data Source=7a2blsrvinf0002;Initial Catalog=Published_IRIS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
